AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
FixNamespaceComments: false
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Never
